.box {
  border: solid 1px black;
  width: 200px;
  margin: 100px 0;
  overflow: hidden
}

.ellipsis {
  white-space: nowrap;

  text-overflow: ellipsis;
}

.clip {
  white-space: nowrap;

  text-overflow:clip;
}
