<html lang = 'en'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"></link>
</head>
<body>
  <div class = 'container'>
    <header class = 'jumbotron'>
       <div class = 'container'>
      <h1>Check out my Blog!</h1>
      <p> Get to know me through my writing.</p>
     <p>
          <a class = 'btn btn-primary btn-lg' href = '/'>Home</a>
     </p>
     </div>
  </header>

<div>
<% blogs.forEach(function(blog) { %>
<%=blog.title %>
<%=blog.image %>
<%=blog.body %>
<%=blog.created %>


<% })%>

</div>

<a class = 'btn btn-success btn-lg' href = '/blog/new'>Add a blog post</a>
</div>
</body>
</html>
