.container {
  height: 100%;
}

.row {
  width: 100%;
}


.profile-pic {

height: 300px;
width: 300px;
background-image: url(profile.jpeg);
background-size: 100%;
background-repeat: no-repeat;
background-position: left top;

}
