input[type='checkbox'] {
  border: 1px solid red;
  height: 20px;
  width: 20px;
}

[type = 'checkbox']:checked + div.demo {
  height: 50px;
  width: 60px;
  background-color: blue;
}


label:click + div.demo {
background-color: blue;
}
