 .box {
  height: 500px;
  width: 500px;
  background-color: #eef;
  border: 1px solid black;
  margin: auto auto;

animation-name: boxAnimation;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-direction: alternate;
animation-timing-function: ease-in-out;

}

@keyframes boxAnimation {

0% {
height: 300px;
width: 300px;
opacity: 0.25;
}

25% {
  border: 5px solid black;
  opacity: 1;
}

50% {
border: 15px solid black;
height: 600px;
width: 600px;
opacity: .25;
}

75% {
border: 5px solid red;
opacity: 1;
}

100%{

height: 800px;
width:800px;
opacity: 0.25;
}

}

.count-3 {
  animation-iteration-count: 10;
}

.delay-2 {
  animation-delay: 0s;
}
