table tr td {
  border-top: 1px solid black;
}

.left {
border-left: 1px solid black;
}
 .right {
   border-right: 1px solid black;
 }

.bottom {
  border-bottom: 1px solid black;
}

td:hover{
font-weight: 700;
background-color: #ccc;
  }
