<html lang = 'en'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"></link>
  <link rel='stylesheet' href = '/stylesheets/main.css'  type = 'text/css'></link>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


  <!-- <link href ='/stylesheets/home.css' rel ='stylesheet' type = 'text/css'></link> -->
</head>
<body>
<!-- The header -->
<header class = 'd-flex col-12 w-100 p-0 justify-content-md-center align-items-md-center align-self-md-center align-middle'>
        <div class = 'mt-1 col-12 col-md-6 w-50  d-flex row'>
            <figure class = 'profile-pic'></figure>
            <div class = 'ml-2'>
              <h2> Jake Roberts </h2>
              <p> Full Stack Web Developer </p>
            </div>
        </div>

        <nav class = 'destroy navbar-expand-md col-6 d-none d-md-flex justify-content-md-center'>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav d-none d-md-flex  w-100 justify-content-between flex-row ">
              <li class = 'nav-item active'>
                <a class=  'nav-link' href = '/about me'>About me <span class = 'sr-only'>(current)</span> </a></li>
              <li class = 'nav-item'>
                <a class = 'nav-link' href = '/my skills'>My skills </a></li>
              <li class = 'nav-item'>
                <a class ='nav-link' href = '/my projects'>My projects </a></li>
              <li class = 'nav-item active'>
                <a class = 'nav-link' href = '/contact me'> Contact me </a></li>
              </li>
            </ul>
          </div>
        </nav>



  </header>
<!-- The background image and main title thingy -->


<section class = 'main-content justify-content-between w-100  d-flex flex-column'>

  <div class = 'd-flex middle h-75 m-0 row '>
    <div class = ' w-100 d-flex justify-content-center'>
      <div class = 'd-flex flex-column justify-content-center'>
        <div class = 'd-flex flex-row title'>
             I am <div>a Web Developer</div>
             <div style ='display: none'>a quick-learner </div>
             <div style ='display: none'>a good communicator </div>
             <div style ='display: none'>always learning more </div>
             <div style ='display: none'>enterprising </div>
            <div style ='display: none'>analytical </div>
            <div style ='display: none'>process-oriented </div>
             .
        </div>
        <a class = 'work-btn btn btn-success align-self-center' href = 'portfolio.html'> See my work</a>
      </div>
    </div>
  </div>
  </section>



<!-- About me section -->
<section class = 'container d-flex about m-0 p-0 w-100 row container-fluid justify-content-center align-items-center'>
      <div>
        <h2 class = 'my-3 justify-content-center align-items-center align-self-end'> A little more about me...</h2>
      </div>
      <div class = 'd-flex flex-row flex-wrap justify-content-center'>
        <p class = 'text-center col-12'>
          I'm a Rutgers 16' graduate and I currently work in pharmaceutical software sales.
          For the past year, I have taught myself web development at nights and on weekends.
          I have built applications from mockup to rollout.
        </p>
      </div>
</section>


<!-- Skill sections -->
<section class = 'my-4'>
<h4> My skill-set </h4>
<div class = 'skill-section container d-flex flex-row justify-content-around'>
  <div class = 'd-flex flex-column wrap w-25 front-end'>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name html5'>HTML5 <i class="fab fa-html5"></i></div>
      </div>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>CSS3 <i class="fab fa-css3"></i></div>
      </div>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>JavaScript<i class="fab fa-js-square"></i></div>
      </div>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>jQuery<i class="fab fa-uikit"></i></div>
      </div>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>BootStrap4<i class="fas fa-layer-group"></i></div>
      </div>
  </div>
  <div class = 'd-flex flex-column wrap w-25 Back-end'>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>Express<i class="fab fa-js-square"></i></div>
      </div>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>Node.js<i class="fab fa-node"></i></div>
      </div>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>Python<i class="fab fa-python"></i></div>
      </div>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>Java<i class="fab fa-java"></i></div>
      </div>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>MongoDB<i class="fas fa-leaf"></i></div>
      </div>
  </div>
  <div class = 'd-flex flex-column wrap w-25 other-tech'>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>RESTful Routing <i class="fas fa-route"></i></div>
      </div>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>JSON APIs<i class="fab fa-js-square"></i></div>
      </div>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>Git<i class="fas fa-code-branch"></i></div>
      </div>
      <div class = 'whole-tech d-flex flex-row justify-content-center'>
        <div class= 'tech-name'>GitHub<i class="fab fa-github-square"></i></div>
      </div>
  </div>
</div>

</section>


<!-- My Projects -->
<section class = 'my-5'>
  <h4> Just some of my work.. </h4>
  <div class = 'work-container container d-flex flex-row justify-content-around'>
    <div class = 'project-col col-4 d-flex flex-column'>
      <figure class = ' YelpCamp image'></figure>
      <h3 class = 'title'> YelpCamp! </h3>
      <div class = 'description'>
          <p>
          This is a Yelp-like application, but for campsites!
        </p>
        <p>
          It is fully deployed via Heroku, with a Front-End, Back-End and a database to store Users, Campgrounds and Comments!
        </p>
        <p>
          Using npm packages such as passport, I created middleware to authenticate Users and to give specific Users authorization for certain actions.
        </p><p>
          <a href = '' class = 'see-more btn btn-success'> See more </a>
          </p>
      </div>
    </div>

      <div class = 'd-flex col-4 flex-column'>
          <img class = 'RGBgame image'> </img>
          <h3 class = 'title'> The Great RGB Game! </h3>
          <div class = 'description'>
              <p>
                  Do you think you have a sharp eye?
                  Are you good with colors and/or design?
                  Do your best to guess what color is above in the RGB model!
             </p>
             <p>
                I wanted to create a game that was fun,
                but also tested my Javascript skills. Check it out!
             </p>
             <p>
              <a href = '' class = 'see-more btn btn-success'> See more </a>
              </p>
          </div>
        </div>


      <div class = 'd-flex col-4 flex-column'>
          <img class = 'MuseumOfCandy image'> </img>
          <h3 class = 'title'> Patatap!</h3>
          <div class = 'description'>
            <p>
            My personal take on the Patatap sound/animation kit.
            </p>
            <p>
              With the press of a button you can make tunes and melodies
              synchronized with flashing shapes and lights.
            </p>
            <p>
            <a href = '' class = 'see-more btn btn-success'> See more </a>
            </p>
          </div>
        </div>

  </div>
</section>

<!-- some of my blog posts -->
<!-- Please review older versions for previously
thought up structure of blogs. Coming soon!-->



<!-- contact me form -->
<!-- See prior version for email format structure -->
<!--
      <section class="container call-to-action is-narrow">
        <div class="box">
          <div class="columns level">
            <div class="column level-item">
              <h1 class="title">Start a project</h1>
            </div>
            <div class="column level-item">
              <p>Interested in working together? We should queue up a chat. I’ll buy the coffee.</p>
            </div>
            <div class="column level-item"><a class="button is-primary is-outlined is-rounded is-medium" href="/project-planner">Let's do this</a></div>
          </div>
        </div>
      </section> -->



<!-- footer -->
<footer>
  <div class = 'footer-content d-flex flex-column justify-content-center'>
  <h3 class = 'align-self-center'> Contact Info </h3>
    <div class = 'align-self-center'>
      <p> Personal email:
      <a href='mailto:jdr81394@gmail.com'> jdr81394@gmail.com</a>
      </p>
    </div>
    <div class ='align-self-center'>
      <p> You can also reach me on:
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i></p>

    </div>
  </div>
</footer>

<!-- <i class="far fa-copyright"></i>  -->


<!--
Things to do:
1. Make the about section RWD.
2. Make the media animation RWD as well.
3. Make contact me form. COMPLETED
  3a. Make contact form send me message on backend


-->



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src = 'javascript/home.js'> </script>
</body>

</html>
<!--  -->
